<div class="card w-100 h-100 shadow bg-light">
  <div class="inner text-center"> 
    <img src={{productobj.productimage}}  class="img card-img-top w-70 mt-3" alt="..." >
    </div>
    <div class="card-bodyc text-center mb-2">
      <h5 class="card-title text-black text-center mt-4 ms-3 me-3">{{productobj.productTitle}}</h5>
      <h5 class="card-text text-primary">{{productobj.description}}</h5>
      <button href="#" class="btn btn-warning btn-lg " (click)="sendProductDetailsToParent(productobj.productTitle)"><em class="fas fa-plus-square fa-1x "></em>  Add To Cart</button>
    </div>
</div>


